<h2 mat-dialog-title>Détail client</h2>
<div mat-dialog-content>
  <p><strong>Nom:</strong> {{ data.nom }}</p>
  <p><strong>Prénom:</strong> {{ data.prenom }}</p>
  <p><strong>CIN:</strong> {{ data.cin }}</p>
  <p><strong>Téléphone:</strong> {{ data.telephone }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>Adresse:</strong> {{ data.adresse }}</p>
  <p><strong>Date de Naissance:</strong> {{ data.dateNaissance }}</p>
  <p><strong>Lieu de Naissance:</strong> {{ data.lieuNaissance }}</p>
  <p><strong>Date d'Inscription:</strong> {{ data.dateInscription }}</p>
  <p><strong>Prix Total:</strong> {{ data.prixTotal }}</p>

  <h3>Seances Pratiques</h3>
  <ul>
    <li *ngFor="let seance of data.seancesPratiques">{{ seance }}</li>
  </ul>

  <h3>Seances Théoriques</h3>
  <ul>
    <li *ngFor="let seance of data.seancesTheoriques">{{ seance }}</li>
  </ul>

  <h3>Paiements</h3>
  <ul>
    <li *ngFor="let paiement of data.paiements">
      <p><strong>Montant:</strong> {{ paiement.montant }}</p>
      <p><strong>Heure de Paiement:</strong> {{ paiement.heurePaiement }}</p>
    </li>
    <li *ngIf="data.paiements.length === 0">Aucun paiement enregistré</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
