<h2 mat-dialog-title>Détail client</h2>
<div mat-dialog-content>
  <!-- Existing client details -->
  <p><strong>Nom:</strong> {{ data.nom }}</p>
  <p><strong>Prénom:</strong> {{ data.prenom }}</p>
  <p><strong>CIN:</strong> {{ data.cin }}</p>
  <p><strong>Téléphone:</strong> {{ data.telephone }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>Adresse:</strong> {{ data.adresse }}</p>
  <p><strong>Date de Naissance:</strong> {{ data.dateNaissance }}</p>
  <p><strong>Lieu de Naissance:</strong> {{ data.lieuNaissance }}</p>
  <p><strong>Date d'Inscription:</strong> {{ data.dateInscription }}</p>
  <p><strong>Prix Total:</strong> {{ data.prixTotal }}</p>

  <div *ngIf="data.listeAttente">
    <h3>Examens</h3>
    <h4>Examen Théorique</h4>
    <ul>
      <li *ngFor="let date of data.dateExamenTheorique">{{ date | date:'dd/MM/yyyy' }}</li>
    </ul>
    <mat-card *ngIf="canAddTheoriqueExam()">
      <mat-form-field>
        <input matInput [matDatepicker]="theoriquePicker" placeholder="Date Examen Théorique" [(ngModel)]="newExamenTheoriqueDate">
        <mat-datepicker-toggle matSuffix [for]="theoriquePicker"></mat-datepicker-toggle>
        <mat-datepicker #theoriquePicker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="addExamenTheorique()">Ajouter Examen Théorique</button>
    </mat-card>

    <h4>Examen Pratique</h4>
    <ul>
      <li *ngFor="let date of data.dateExamenPratique">{{ date | date:'dd/MM/yyyy' }}</li>
    </ul>
    <mat-card *ngIf="canAddPratiqueExam()">
      <mat-form-field>
        <input matInput [matDatepicker]="pratiquePicker" placeholder="Date Examen Pratique" [(ngModel)]="newExamenPratiqueDate">
        <mat-datepicker-toggle matSuffix [for]="pratiquePicker"></mat-datepicker-toggle>
        <mat-datepicker #pratiquePicker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="addExamenPratique()">Ajouter Examen Pratique</button>
    </mat-card>
  </div>

  <h3>Seances Pratiques</h3>
  <ul>
    <li *ngFor="let seance of data.seancesPratiques">{{ seance }}</li>
  </ul>
  <button mat-button (click)="addSeanceTheorique()">Ajouter une séance théorique</button>


  <h3>Seances Théoriques</h3>
  <ul>
    <li *ngFor="let seance of data.seancesTheoriques">{{ seance }}</li>
  </ul>

  <h3>Paiements</h3>
  <ul>
    <li *ngFor="let paiement of data.paiements">
      <p><strong>Montant:</strong> {{ paiement.montant }}</p>
      <p><strong>Heure de Paiement:</strong> {{ paiement.heurePaiement }}</p>
    </li>
    <li *ngIf="data.paiements.length === 0">Aucun paiement enregistré</li>
  </ul>
  <p><strong>Montant payé:</strong> {{ data.montant }}</p>


</div>

<div mat-dialog-actions *ngIf="!data.listeAttente">
  <button mat-button (click)="addPaiement()">Ajouter un paiement</button>
  <button mat-button mat-dialog-close>Fermer</button>
</div>
