<mat-card *ngIf="etatDeCaisse" class="etat-de-caisse-card">
  <mat-card-header>
    <mat-card-title>Etat De Caisse</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <table mat-table [dataSource]="[etatDeCaisse]" class="mat-elevation-z8">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Montant Total Column -->
        <ng-container matColumnDef="montantTotal">
          <th mat-header-cell *matHeaderCellDef> Montant Total </th>
          <td mat-cell *matCellDef="let element"> {{element.montantTotal | currency:'Dh':'symbol':'1.2-2'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Paiements Column -->
        <ng-container matColumnDef="paiements">
          <th mat-header-cell *matHeaderCellDef> Paiements </th>
          <td mat-cell *matCellDef="let element">
            <div class="paiements-container">
              <mat-card *ngFor="let paiement of element.paiements" class="paiement-card">
                <mat-card-content>
                  <div class="paiement-client" *ngIf="paiement.clientNom && paiement.clientPrenom && paiement.clientCin">
                    <strong>Client:</strong> {{paiement.clientNom}} {{paiement.clientPrenom}} (CIN: {{paiement.clientCin}})
                  </div>
                  <div class="paiement-montant" *ngIf="paiement.montant">
                    <strong>Montant:</strong> {{ paiement.montant | currency:'Dh':'symbol':'1.2-2' }}
                  </div>
                  <div class="paiement-heure" *ngIf="paiement.heurePaiement">
                    <strong>Heure:</strong> {{ paiement.heurePaiement | date:'dd/MM/yyyy, HH:mm' }}
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </td>
        </ng-container>

        <!-- Header and Row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-divider></mat-divider>
    <div class="footer">
      <strong>Solde Total: </strong>{{ solde | currency:'Dh':'symbol':'1.2-2' }}
    </div>
  </mat-card-content>
</mat-card>