.search-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

.client-list {
  margin-top: 16px;
}

.waiting-list-row {
  background-color: #ffcccb; /* Light red */
}

tr.mat-row {
  transition: background-color 0.3s ease;
}
